body {
  background: linear-gradient(45deg, rgb(43, 55, 58), rgb(5, 114, 177) 70%);
  color: white;
  font-family: cursive;
  height: 150vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 65px;
  margin: 8px;
  padding: 5px;
}

.add_task_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
}

.container_todo {
  display: flex;
  flex-direction: column;
  background: linear-gradient(120deg, rgb(5, 114, 177), rgb(75, 126, 138) 100%);
  box-shadow: 0 0 30px 1px rgb(43, 55, 58);
  min-height: 400px;
  min-width: 700px;
  border: solid 0.5px black;
  border-radius: 5px;
  padding-bottom: 6px;
}

.main_container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  min-width: 700px;
  justify-content: space-between;
}

.li_container {
  font-size: 20px;
  cursor: pointer;
}

.li_container:hover {
  background: linear-gradient(120deg, rgb(5, 114, 177), rgb(75, 126, 138) 70%);
  filter: brightness(130%);
}

.items {
  text-align: center;
  padding: 20px;
}

ul {
  padding: 0 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 5px 0 0 10px;
}

hr {
  margin: 0;
  padding: 0;
}

.input_updating {
  box-sizing: border-box;
  color: rgb(75, 126, 138);
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  outline: none;
  height: 25px;
  padding: 15px 8px;
  margin: 5px;
  font-family: cursive;
  width: 100%;
}

.inputTodo_main {
  box-sizing: border-box;
  color: rgb(75, 126, 138);
  font-size: 25px;
  border-radius: 5px 5px 0 0;
  border: none;
  outline: none;
  height: 25px;
  padding: 15px 8px;
  font-family: cursive;
  width: 100%;
}

input::placeholder {
  color: inherit;
}

input:focus {
  outline: none;
}

.option_container {
  display: flex;
  justify-content: space-between;
}

.option_container li span:hover {
  color: rgb(57, 208, 241);
}

.li_container .show_span span {
  color: white;
  cursor: pointer;
  font-size: 12px;
  display: none;
  padding: 0 8px 0 0;
}

.li_container .show_span span:hover {
  color: rgb(57, 208, 241);
  cursor: pointer;
  font-size: 15px;
  display: none;
  padding: 0 8px 0 0;
}

.li_container:hover .show_span span {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 715px) {
  .container_todo {
    min-height: 300px;
    min-width: 250px;
  }
  .container_todo:hover {
    min-height: 310px;
    min-width: 260px;
  }

  .main_container {
    min-height: 300px;
    min-width: 250px;
  }

  .title {
    font-size: 45px;
  }

  input::placeholder {
    font-size: 20px;
  }

  .li_container {
    font-size: 13px;
  }

  .li_container .show_span span {
    font-size: 8px;
  }

  .li_container .show_span span:hover {
    font-size: 10px;
  }
}
